@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --heroTitleFontSize: 26px;
    --titleFontSize: 24px;
}

img{
    width: 98.5vw;
    width: 100vw;
    height: auto;
    object-fit: cover;
}


/*Hero section*/
#hero {
    width: 100vw; /*consider the size of scroll take for desktop version*/
    display: flex;
    flex-direction: column;
    background-color: #8B8B8B;
}

#hero .hero-img img{
    display: block; /*takes the whole width, we can manipulate margin to center the div*/
    filter: drop-shadow(-10px 0px 3px rgb(0, 0, 0, 0.5));
    margin: 0 auto;
}

#hero .hero-img img:active{

}

#hero .hero-text{
    text-align: center;
    margin-top: 5.85vh;
}

#hero .hero-title {
    margin-bottom: 5vh;
}

#hero .hero-title h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: var(--titleFontSize);
    line-height: 2rem;
    letter-spacing: 0.2px;
    margin-bottom: 1.5vh;
}

#hero .hero-title h2 {
    color: rgb(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.2px;
}

#hero .hero-cta a {
    text-decoration: none;
    letter-spacing: 0.025rem;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 30px;
    background-color: #4E4E4E;
}

#hero .hero-cta a:active {
    background-color: #3E3E3E;
}

#hero .hero-cta{
    margin-bottom: 50px;
}


/*Memory section*/
#memory{
    margin-top: 41px;
    text-align: center;
}

#memory .memory-title h1 {
    font-size: var(--titleFontSize);
    font-weight: 400;
    margin-bottom: 6vh;
}

#memory figure {
    margin-bottom: 5vh;
}

#memory img{
    margin-bottom: 4.8vh;
}

#memory figcaption{
    color: rgba(0,0,0,0.8);
    line-height: 1.4rem;
    font-size: 16px;
    font-weight: 300;
    width: 78%;
    margin: 0 auto;
}

#memory .memory-cta a {
    text-decoration: none;
    letter-spacing: 0.025rem;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 30px;
    background-color: #4E4E4E;
}

#memory .memory-cta a:active {
    background-color: #3E3E3E;
}

#memory .memory-cta {
    margin-bottom: 50px;
}


/*Contribution section*/
#contribution {
    background-color: #DFDFDF;
    padding-top: 41px;
    text-align: justify;
    width: 100vw;
}

#contribution .contribution-title h1 {
    text-align: center;
    margin-bottom: 6vh;
    font-size: var(--titleFontSize);
    font-weight: 400;
}

#contribution .contribution-img img {
    margin-bottom: 4.8vh;
}

#contribution .contribution-detail, #contribution .contribution-cta{
    width: 75%;
    margin: 0 auto;
}

#contribution .contribution-item h2 {
    margin: 0 auto 2.4vh;
}

#contribution div.contribution-item div.contribution-detail p{
    margin: 0 auto;
}

#contribution .contribution-item .contribution-detail p:nth-of-type(1) {
    color: rgba(0,0,0,1);
    margin-bottom: .4rem;
    line-height: 1.36rem;
}

#contribution .contribution-item .contribution-detail :nth-of-type(2) {
    color: rgba(0,0,0,0.7);
}

#contribution .contribution-detail {
    margin-bottom: 5vh;
}

#contribution .contribution-cta a {
    text-decoration: none;
    letter-spacing: 0.025rem;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 30px;
    background-color: #4E4E4E;
}

#contribution .contribution-cta a:active {
    background-color: #3E3E3E;
}

#contribution .contribution-cta {
    margin-bottom: 50px;
}

#contribution hr{
    width: 83%;
    margin: 75px auto 75px;
}

#contribution .contribution-link {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#contrbution .contribution-link h2 {
    font-size: 20px;
    color: rgba(0,0,0,0.4);
}

#contribution .between-sect{
    height: 50px;
}